<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="SourceFolder" value="\\Ausdsnas03.aus.amer.dell.com\Global_IC_Data$\StdWrkSp\DataFiles"/>
    <add key="OutputFolder" value="D:\ATS_Report"/>
    <add key="3PLFileNameListFileName" value="3PL_File_Name_List.Txt"/>
  </appSettings>
</configuration>
